(
    id: "scn_m01_elk_creek",
    display_name: "Elk Creek Opening",
    date: "1867-08-12",
    map: (
        width: 20,
        height: 12,
        tiles: {
            "2,2": (
                terrain: "Brush",
                elevation: 0,
                cover_edges: ("None", "None", "Soft", "None", "None", "None", "Soft", "None"),
                smoke_density: 0,
                fire: false,
                blood: false,
                occupant: None,
                items: [],
            ),
            "3,9": (
                terrain: "Brush",
                elevation: 0,
                cover_edges: ("Soft", "None", "None", "None", "Soft", "None", "None", "None"),
                smoke_density: 0,
                fire: false,
                blood: false,
                occupant: None,
                items: [],
            ),
            "9,2": (
                terrain: "Creek",
                elevation: -1,
                cover_edges: ("None", "None", "None", "None", "None", "None", "None", "None"),
                smoke_density: 0,
                fire: false,
                blood: false,
                occupant: None,
                items: [],
            ),
            "10,2": (
                terrain: "Creek",
                elevation: -1,
                cover_edges: ("None", "None", "None", "None", "None", "None", "None", "None"),
                smoke_density: 0,
                fire: false,
                blood: false,
                occupant: None,
                items: [],
            ),
            "9,9": (
                terrain: "Creek",
                elevation: -1,
                cover_edges: ("None", "None", "None", "None", "None", "None", "None", "None"),
                smoke_density: 0,
                fire: false,
                blood: false,
                occupant: None,
                items: [],
            ),
            "10,9": (
                terrain: "Creek",
                elevation: -1,
                cover_edges: ("None", "None", "None", "None", "None", "None", "None", "None"),
                smoke_density: 0,
                fire: false,
                blood: false,
                occupant: None,
                items: [],
            ),
            "16,2": (
                terrain: "Timber",
                elevation: 1,
                cover_edges: ("None", "None", "Hard", "None", "None", "None", "Hard", "None"),
                smoke_density: 0,
                fire: false,
                blood: false,
                occupant: None,
                items: [],
            ),
            "17,9": (
                terrain: "Timber",
                elevation: 1,
                cover_edges: ("Hard", "None", "None", "None", "Hard", "None", "None", "None"),
                smoke_density: 0,
                fire: false,
                blood: false,
                occupant: None,
                items: [],
            ),
        },
    ),
    light: "Day",
    weather: "Clear",
    wind_dir: "N",
    deployment_zones: {
        "ally": [
            /*[0]*/ (
                x: 5,
                y: 5,
            ),
            /*[1]*/ (
                x: 5,
                y: 6,
            ),
        ],
        "enemy": [
            /*[0]*/ (
                x: 14,
                y: 5,
            ),
            /*[1]*/ (
                x: 14,
                y: 6,
            ),
        ],
    },
    actors: [
        /*[0]*/ (
            id: "e_ally_01",
            archetype_id: "scout",
            faction_id: "player",
            attributes: (
                grit: 5,
                nerve: 5,
                wind: 5,
                hands: 5,
                eyes: 7,
                savvy: 5,
                luck: 5,
            ),
            level: 1,
            hp: 30,
            hp_max: 37,
            sand: 10,
            sand_max: 20,
            ap: 7,
            ap_max: 7,
            sequence: 5,
            pos: (
                x: 5,
                y: 5,
            ),
            facing: 1,
            stance: "Standing",
            wounds: [],
            inventory: [],
            equipped_primary: Some("colt_army_1860"),
            equipped_sidearm: None,
            marks: [],
            ways: [],
            is_companion: false,
            is_dead: false,
        ),
        /*[1]*/ (
            id: "e_ally_02",
            archetype_id: "scout",
            faction_id: "player",
            attributes: (
                grit: 5,
                nerve: 5,
                wind: 7,
                hands: 10,
                eyes: 10,
                savvy: 5,
                luck: 5,
            ),
            level: 1,
            hp: 28,
            hp_max: 37,
            sand: 10,
            sand_max: 20,
            ap: 8,
            ap_max: 8,
            sequence: 7,
            pos: (
                x: 5,
                y: 6,
            ),
            facing: 1,
            stance: "Standing",
            wounds: [],
            inventory: [],
            equipped_primary: Some("colt_army_1860"),
            equipped_sidearm: None,
            marks: [],
            ways: [],
            is_companion: false,
            is_dead: false,
        ),
        /*[2]*/ (
            id: "e_enemy_01",
            archetype_id: "bandit",
            faction_id: "enemy",
            attributes: (
                grit: 4,
                nerve: 3,
                wind: 5,
                hands: 4,
                eyes: 4,
                savvy: 2,
                luck: 3,
            ),
            level: 1,
            hp: 5,
            hp_max: 34,
            sand: 8,
            sand_max: 16,
            ap: 7,
            ap_max: 7,
            sequence: 4,
            pos: (
                x: 14,
                y: 5,
            ),
            facing: 5,
            stance: "Standing",
            wounds: [],
            inventory: [],
            equipped_primary: Some("colt_army_1860"),
            equipped_sidearm: None,
            marks: [],
            ways: [],
            is_companion: false,
            is_dead: false,
        ),
        /*[3]*/ (
            id: "e_enemy_02",
            archetype_id: "rider",
            faction_id: "enemy",
            attributes: (
                grit: 5,
                nerve: 4,
                wind: 6,
                hands: 6,
                eyes: 10,
                savvy: 2,
                luck: 4,
            ),
            level: 2,
            hp: 5,
            hp_max: 39,
            sand: 12,
            sand_max: 18,
            ap: 8,
            ap_max: 8,
            sequence: 6,
            pos: (
                x: 14,
                y: 6,
            ),
            facing: 5,
            stance: "Standing",
            wounds: [],
            inventory: [],
            equipped_primary: Some("colt_army_1860"),
            equipped_sidearm: Some("remington_1858"),
            marks: [],
            ways: [],
            is_companion: false,
            is_dead: false,
        ),
        /*[4]*/ (
            id: "e_extra_01",
            archetype_id: "civilian",
            faction_id: "enemy",
            attributes: (
                grit: 2,
                nerve: 2,
                wind: 3,
                hands: 2,
                eyes: 2,
                savvy: 1,
                luck: 1,
            ),
            level: 1,
            hp: 0,
            hp_max: 28,
            sand: 1,
            sand_max: 14,
            ap: 5,
            ap_max: 6,
            sequence: 3,
            pos: (
                x: 12,
                y: 5,
            ),
            facing: 1,
            stance: "Standing",
            wounds: [],
            inventory: [],
            equipped_primary: None,
            equipped_sidearm: None,
            marks: [],
            ways: [],
            is_companion: false,
            is_dead: true,
        ),
        /*[5]*/ (
            id: "e_extra_02",
            archetype_id: "civilian",
            faction_id: "enemy",
            attributes: (
                grit: 2,
                nerve: 2,
                wind: 3,
                hands: 2,
                eyes: 2,
                savvy: 1,
                luck: 1,
            ),
            level: 1,
            hp: 0,
            hp_max: 28,
            sand: 1,
            sand_max: 14,
            ap: 5,
            ap_max: 6,
            sequence: 3,
            pos: (
                x: 12,
                y: 6,
            ),
            facing: 1,
            stance: "Standing",
            wounds: [],
            inventory: [],
            equipped_primary: None,
            equipped_sidearm: None,
            marks: [],
            ways: [],
            is_companion: false,
            is_dead: true,
        ),
    ],
    objectives: [
        /*[0]*/ (
            id: "obj_eliminate",
            description: "Eliminate all enemies",
            kind: "Eliminate",
            actor_ids: [
                /*[0]*/ "e_enemy_01",
                /*[1]*/ "e_enemy_02",
                /*[2]*/ "e_extra_01",
                /*[3]*/ "e_extra_02",
            ],
        ),
    ],
    victory_conditions: [
        /*[0]*/ "all_enemies_dead",
    ],
    defeat_conditions: [
        /*[0]*/ "all_allies_dead",
    ],
    historical_tag: None,
    citations: [],
)
